.layout {
  display: flex;
  height: 100vh; /* full screen height */
  overflow: hidden; /* sidebar & navbar scroll na ho */
}

.layout-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.layout-content {
  flex: 1;
  overflow-y: auto; /* scroll sirf content area me hoga */
  padding: 1rem;
}
