.layout-main {
  flex: 1;
  margin-left: 230px;
  /* default sidebar width */
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left 0.3s;
}

/* Sidebar collapsed adjustment */
.layout-main.collapsed {
  margin-left: 60px;
}

/* ✅ Add top padding equal to navbar height */
.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  padding-top: 70px;
  /* navbar height + small spacing */
}

/* Page heading */
.page-heading {
  padding-left: 35px;
  border-bottom: 1px solid #e2e8f0;
  background: #f9fafb;
  position: sticky;
  top: 60px;
  font-size: 9px;
  z-index: 500;
}